<%= form_for @item do |f| %>
<%= render 'shared/error_messages', :object => f.object %>
<div class="field">
	about this
	<br />
	<%= f.text_field :subject, :class => "subject_input" %>
</div>
<div class="field">
	remember this
	<br />
	<%= f.text_area :content %>
</div>
<div class="actions">
	<%= f.submit "Submit" %>
</div>
<% end %>